@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    /* if we add box-sizing any padding or border on to an element doesn't affect the width of it */
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #333;
    color: #222;
    overflow-x: hidden ;
    margin: 0;
}

.container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0,4s linear;
    width: 100vW;
    min-height: 100vh;
    padding: 50px;
}

.container.show-naw {
    transform: rotate(-20deg);
}
 /* We set top and left to -100px and by the circle we set the height and the width to 200px . It enables us to have quarter of a circle in the our page */
.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}
 /* */
.circle {
    background-color: #ff7979;
    height: 200px;
    width: 200px;
     /*Border Radius 50% make things round */
    border-radius: 50%;
    position: relative;
     /* Transition allow us that the transform will occur smoothly(0,5s) */
    transition: transform 0.5s linear;
}

.container.show-naw .circle {
    transform: rotate(-70deg);
}

.circle button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #fff;
}
/* Changing the outline of the buttons to none*/
.circle button:focus {
    outline: none;
}
/*Positioning circle buttons by opening and closing classes enables us to see one at a time. */
.circle button#open {
    left: 60%;

}

.circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left; 
}

.container.show-naw + nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
}

nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}
/* list-style-type property sets the marker of a list item element. We set it to none */
nav ul {
    list-style-type: none;
    padding-left: 30px;
}

nav ul li {
    text-transform: uppercase;
    color: #fff;
    margin: 40px 0;
    /* A two-dimensional transformation is applied to an element through the 'transform' property.*/
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}

nav ul li i {
    font-size: 20px;
    margin-right: 10px;
}

nav ul li + li {
    margin-left: 15px;
}

nav ul li + li + li {
    margin-left: 30px;
    transform: translateX(-200%);
}

nav a{
    color: #fafafa;
    text-decoration: none;
    transition: all 0.5s;
  }
  
  nav a:hover {
    color: #FF7979;
    font-weight: bold;
  }

.content img {
    max-width: 100%;
}

.content {
    max-width: 1000px;
    margin: 50px auto;
}

.content h1 {
    margin: 0;
}

.content small {
    color: #555;
    font-style: italic;
}

.content p {
    color: #333;
    line-height: 1.5;
}